<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/forms.css">
  <link rel="stylesheet" href="/css/product.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main>
    <form class="product-form" action="/admin/add-product" method="POST">
      <div class="form-control">
        <label for="title">Title</label>
        <input type="text" name="title" id="title">
      </div>
      <div class="form-control">
        <label for="imageUrl">Image URL</label>
        <input type="text" name="imageUrl" id="imageUrl">
      </div>
      <div class="form-control">
        <label for="price">Price</label>
        <!-- Step added to support decimals. Step of 0.01 means you can have two decimal places (default is step="1", which doesn't allow any decimal) https://stackoverflow.com/questions/19011861/is-there-a-float-input-type-in-html5 -->
        <input type="number" name="price" id="price" step="0.01">
      </div>
      <div class="form-control">
        <label for="description">Description</label>
        <textarea name="description" id="description" rows="5"></textarea>
      </div>

      <button class="btn" type="submit">Add Product</button>
    </form>
  </main>
<%- include('../includes/end.ejs') %>