<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{pageTitle}
    link(rel="stylesheet", href="/css/main.css")
    //- Can dynamically enter content into this hook from other file
    //- Allows other views that extend this layout to add additional links
    block styles
  body
    header.main-header
      nav.main-header__nav
        ul.main-header__item-list
          li.main-header__item
            a(href="/", class=(path === '/' && 'active')) Shop
          li.main-header__item
            //- path corresponds to the key passed into admin.js route for get request to add-product (the value for path can be whatever you want)
            a(href="/admin/add-product", class=(path === '/admin/add-product' && 'active')) Add Product
    main
      block content