<main>
  <form class="product-form" action="/admin/add-product" method="POST">
    <div class="form-control">
      <label for="title">Title</label>
      <input type="text" name="title" id="title">
      <button class="btn" type="submit">Add Product</button>
    </div>
  </form>
</main>