extends layouts/main-layout.pug

block styles
  link(rel="stylesheet", href="/css/product.css")

//- Since layout was extended, this will not define a hook, but allow for adding content in that layout
block content
  if prods.length > 0
    .grid
      each product in prods
        article.card.product-item
          header.card__header
            //- title key created in admin.js
            h1.product__title #{product.title}
            .card__image
              img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Vector_Book_blue.svg/1280px-Vector_Book_blue.svg.png", alt="A Book")
            .card__content
              h2.product__price $19.99
              p.product__description A very interesting book about so many even more interesting things!
            .card__actions
              button.btn Add to Cart
  else
    h1 No products
