.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: block;
}

.product-item {
  width: 20rem;
  max-width: 95%;
  margin: 1rem;
}

.product__title {
  font-size: 1.2rem;
  text-align: center;
}

.product__price {
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 0.5rem !important;
  /* Default h2 size in article: 1.5em, same as h1 */
  font-size: 1.3rem;
}

.product__description {
  text-align: center;
}

/* Smaller computer screens */
@media screen and (min-width: 992px) and (max-width: 1400px) {
  /* Decrease width so 4 will fit on one line */
  .product-item {
    width: 17rem;
  }
}
