.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
}

.product-item {
  width: 20rem;
  max-width: 95%;
}

.product__title {
  margin-bottom: 0.9rem !important;
}

.product__price {
  text-align: center;
  margin-bottom: 0.5rem !important;
  /* Default h2 size in article: 1.5em, same as h1 */
  font-size: 1.3rem;
}

.product__description {
  text-align: center;
}